body, input, select {
    color: #0093AF;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

button.add-book {
    border: none;
    border-radius: 10px;
    background-color: #1ca9c9;
    padding: 10px 20px;
    color: white;
}

button.add-book.hide {
    display: none;
}

button.add-book:hover {
    background-color: #0093AF;
}


form.add-book {
    display: none;

    margin: 20px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 2px solid #1ca9c9;
    border-radius: 10px;
}

form.add-book.show {
    display: flex;
}

form.add-book .form-fields {
    display: flex;
    align-items: center;
    gap: 20px;
}

form.add-book input, form.add-book select {
    border: 2px solid #1ca9c9;
    border-radius: 10px;
    padding: 10px;
    font-family: montserrat;
}

form.add-book fieldset.status {
    border: 2px solid #1ca9c9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}


form.add-book button {
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px;
}

form.add-book button.submit, form.add-book button.cancel {
    width: 80px;
}

form.add-book button.submit {
    background-color: lightseagreen;
}

form.add-book button.submit:hover {
    background-color: darkturquoise;
}

form.add-book button.cancel {
    background-color: crimson;
}

form.add-book button.cancel:hover {
    background-color: lightcoral;
}


section.library {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

table.library {
    table-layout: fixed;
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 2px solid #1ca9c9;
    border-radius: 10px;
}

table.library th {
    background-color: #1ca9c9;
    color: white;
}

table.library th, td {
    padding: 10px;
}

table.library thead th.title {
    width: 35%;
}

table.library thead th.author {
    width: 30%;
}

table.library thead th.rating {
    width: 10%;
}

table.library thead th.date-read {
    width: 15%;
}

table.library thead th.edit {
    width: 10%;
}

table.library button.edit {
    background-color: #1ca9c9;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s;
}

table.library button.edit:hover {
    background-color: #0093AF;
}